{% extends 'base.html' %}   

{% load crispy_forms_tags %}
{% load static %}

{% block content %}
<script src="{% static 'js/tabs.js' %}"></script>
<button class="tablink" onclick="openPage('News', this)" id="defaultOpen">Maps</button>
<button class="tablink" onclick="openPage('Home', this)">Files</button>

<div id="uploadFile", class="tabcontent">
    <h1>{{user}}'s files</h1>
    <h2>Upload</h2>
    <div class="upload-div">
        <h1>File Upload</h1>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Submit</button>
        </form>
        <hr>
        <ul>
        {% for document in documents %}
            <li>
                <a href="{{ document.upload.url }}">{{ document.upload.name }}</a>
                <small>({{ document.upload.size|filesizeformat }})</small>
            </li>
        {% endfor %}
        </ul>
    </div>
</div>
<div id="Maps" class="tabcontent"> 
    <h1>{{user}}'s maps</h1>
    <h2>Maps</h2>
</div>



{% endblock %}
