{% extends 'base.html' %}   

{% block content %}
<h1>You're logged in {{ user.get_username }} !</h1>

<h2>Upload</h2>
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <input type="file" name="document">
    <button type="submit">Upload file</button>
</form>
{% if url %}
    <p>Uploaded file: <a href="{{ url }}">{{ url }}</a></p>
{% endif %}
<div class="container-fluid">
    <div class="row">
        {% autoescape off %}
        {{ plot_div }}
        {% endautoescape %}
    </div>
</div>

{% endblock %}