{% extends 'base.html' %}

{% load static %}

{% block main %}
<div style="background-image: url('static/images/abstract\ dots.jpg'); margin-top: -47px; padding-bottom: 600px;">
    <section class="my-5">
        <div class="container">
            <div class="row">
                <div class="col-3 mx-auto">
                    <!-- <div class="text-center">
                        <div class="vertical-center">
                            <h1 id="banner-title">Icy Analytics</h1>
                            <h2 id="banner-white">A Platform for Analyzing Geospatial Data</h2>
                        </div>
                    </div> -->
                </div>
            </div>
        </div>
    </section>
</div>

<section class="my-5">
    <div class="container">
        <div class="row">
            text
        </div>
    </div>
</section>


{% endblock %}
<!-- <video id="background-video" playsinline autoplay muted loop>
    <source src="videos/homepage_background_vid.webm" type="video/webm">
    <source src="{% static 'spinning_earth.mp4' %}" type="video/mp4">
</video> -->